@page
@model CompetitionMeritLists_WebAPI.Pages.Index1Model
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Merit Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #DCFBFB;">
    <p> ThankYou for Visiting the Merit Result Website And enjoy your Result and have Fun</p>
    </body>
</html>

